# Компилирован источник #
####################
*.com
*.класс
*.dll
*.exe
*.о
*.так

# Пакеты #
############
# лучше распаковать эти файлы и зафиксировать исходный код
# git имеет свои собственные встроенные методы сжатия
*.7z
*.dmg
*.gz
*.iso
*.jar
*.рар
*.тар
*.zip

# Журналы и базы данных #
######################
*.лог
*.sql
*.sqlite

# файлы, сгенерированные ОС #
######################
. DS_Магазин
. DS_Store?
. _*
. Прожектор-V100
. Мусор
ehthumbs.db
Thumbs.db

/venv